
span {
    color: red;
}
#fs1 {
    display: initial;
    left: 900px;
    position: absolute;
}
#fs2 {
    display: initial;
    left: 887px;
    position: absolute;
    top: 259px;
}
#new_account {
    left: 900px;
    position: absolute;
    top: 166px;
}
#message {
    left: 900px;
    position: absolute;
    top: 143px;
}
#error {
    position: absolute;
    top: -29px;
    left: 294px;
    font-size: 30pt;
    background: peachpuff;
}