<!DOCTYPE HTML>
<html>
<head>
  <title>Application for Network Analysis</title>
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap6.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <script type=text/javascript>
	    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/queries.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/functios.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/editHTMLElements.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graphImageHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graphInfoHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/diagramHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jQuery-UI-Initialization.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pagestyle.css') }}">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static', filename='css/colpick.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/colpick.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  <script>
      $(function() {
          $("img").hide();
          $("#box-info").hide();
          $("#diagramInfo").hide();
          $("#dynamic-parameters").hide();
          $("#download-bar").hide();
      })
</script>
</head>
<body>
    {% include 'header.html' %}
<div id="tabs" style="height: auto;">
         <ul>
            <li><a href="#distDiv">Distribution Analysis</a></li>
             {% if growing %}
            	<li><a href="#dynamicDiv">Dynamic Analysis</a></li>
             {% endif %}
        </ul>
         <div id="distDiv">
             <div id="box-info" class="ui-widget" style="width: 30%; height: 700px;">
             	<br><br>
                 <label style="font-size: 11px;" for="selectBar">Select node measure: </label>
                 <select id = "selectBar">
					<option value = "betweenness">Betweeness Centrality</option>
					<option value = "closeness">Closeness Centrality</option>
					<option value = "eigenvector">Eigenvector Centrality</option>
				{% if graphtype == 'Directed' %}
					<option value = "in_degree">In-Degree Centrality</option>
					<option value = "out_degree">Out-Degree Centrality</option>
					<option value = "pagerank">PageRank</option>
					{% if is_weighted %}
						<option value = "weighted_in_degree">Weighted In-Degree</option>
						<option value = "weighted_out_degree">Weighted Out-Degree</option>
					{% endif %}
				{% else %}
					<option value = "degree">Degree Centrality</option>
					<option value = "clustering">Clustering Coefficient</option>
					{% if is_weighted %}
						<option value = "weighted_degree">Weighted Degree</option>
					{% endif %}
				{% endif %}
				  </select>
             	<button onclick = "selectDiagram($('#selectBar').val())">
                    <span class="ui-icon ui-icon-check" style="float: left; margin-right: .3em;"></span>
                </button><br><br><br>
                 <div id="diagramInfo" class="ui-widget">
                     <div class="ui-corner-all ui-state-highlight" style="padding: 0.7em;">
                         <form id="download-form" action="{{ url_for('download_diagram') }}" method="post">
                             <input type="hidden" name="diagram" value="">
                            <button class="download" type="submit" style="font-size: 10px;">
                                Download Diagram
                                <span class="ui-icon ui-icon-circle-arrow-s" style="float: right; margin-right: .3em;"></span>
                            </button>
                        </form>
                     </div>
                 </div>
             </div>
             <div style="width: 70%; margin-left: 30%; margin-top: -700px;">
                <img id="distribution" src="" style="width: 100%;">
             </div>
         </div>
		{% if growing %}
        <div id="dynamicDiv">
            <div id="dynamic-info" class="ui-widget">
                <div class="ui-corner-all ui-state-highlight">
                    <p style="text-align: center;">
                        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                        <b>Select time by moving slider!</b><button onclick = "dynamicAnalysis()">
                        <span class="ui-icon ui-icon-check" style="float: left; margin-right: .3em;"></span>
                        </button><br>
                        <span class="time">Time: 50</span><br>
                    </p>
                    <div style="width: 40%; margin-right: auto; margin-left: auto;" class="time-selector"></div><br>
                </div>
            </div>
            <div id="download-bar" style="width: 100%; height:50px;">
                <form style="float: left;" id="download-degree" action="{{ url_for('download_diagram') }}" method="post">
                    <input type="hidden" name="diagram" value="">
                    <button class="download" type="submit" style="font-size: 10px;">
                        Download Degree diagram over time
                        <span class="ui-icon ui-icon-circle-arrow-s" style="float: right; margin-right: .3em;"></span>
                    </button>
                </form>
                <form style="float: right;" id="download-path" action="{{ url_for('download_diagram') }}" method="post">
                    <input type="hidden" name="diagram" value="">
                    <button class="download" type="submit" style="font-size: 10px;">
                        Download Path diagram over time
                        <span class="ui-icon ui-icon-circle-arrow-s" style="float: right; margin-right: .3em;"></span>
                    </button>
                </form>
            </div>
            <div id="degree-diagram" style="width: 45%; height: 500px;">
                <img id="degree-over-time" src="">
            </div>
            <div  id="path=diagram" style="width: 45%; margin-left: 50%; margin-top: -500px;">
                <img  id="path-over-time" src="">
            </div>
         </div>
		{% endif %}
    </div>
    {% include 'diagram_selector.html' %}
    <div style="margin-top: 150px;
    " id = "signature" class="ui-widget">
        <div id = "footer" class="ui-corner-all ui-state-error">
            <p id="leftfooter"><i>Developed by Thodoris Sotiropoulos</i></p>
            <p id="rightfooter">&copy; 2014-2015 Athens University of Economics and Business - Department
            of Management Science and Technology</p>
      </div>
    </div>
</body>
</html>
