<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>
	  <script type="text/javascript" src="{{url_for('static', filename='queries.js') }}"></script>
	  <script type="text/javascript" src="{{url_for('static', filename='functios.js') }}"></script>
	  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	  <script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body>
	<p>Project already exists! Do you want to overwrite?<br>
		<input type = "button" value = "Yes" onclick = "sendResponse(true)">
		<input type = "button" value = "No" onclick = "sendResponse(false)">
	</p>
</body>
</html>