<div id="save-form" title="Save Graph">
	<p class="validateTips">Save graph to your Account.</p>
	<form>
    <fieldset>
		<label for="graph-name">Name</label>
		<input type="text" name="project" id="graph-name" class="text ui-widget-content ui-corner-all">
	</fieldset>
	</form>
</div>
<div id="overwrite-form" title="Overwrite Graph">
    <div class="ui-widget">
        <div class="ui-corner-all ui-state-error">
            <p>
                <span class="ui-icon ui-icon-alert"></span>
                <b>There is already a graph named <span id="graphName"></span>.</b><br>
                Do you want to overwrite?
            </p>
        </div>
    </div>
</div>
<div id="save-completed" title="Save completed">
    <div class="ui-widget">
        <div class="ui-corner-all ui-state-highlight">
            <p>
                <span class="ui-icon ui-icon-info"></span>
                <b>Graph was saved successfully!</B>
            </p>
        </div>
    </div>
</div>
<div id="before-deletion" title="">
    You going to delete a graph file. Are you sure?
</div>
