<!DOCTYPE HTML>
<html>
<head>
  <title>Application for Network Analysis</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap6.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/queries.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/functios.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graphInfoHandler.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pagestyle.css') }}">
    <script>
        $(function() {
        	$("#graphInfo").tabs();
            $("#download").button();
            $(".download").button();
            $("#pages").buttonset();
            $("#actions").buttonset();
    	});
    </script>
</head>
<body>
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		<label for="pages"><span class="ui-icon ui-icon-home" style="float: right; margin-right: .3em;"></span>
		Welcome to netXanal</label>&nbsp;&nbsp;
        <div id="pages" style="display: inline-block">
            <input onclick="$(this).removeAttr('checked'); location.href = 'graph';" type="radio" name="pages" id="mainpage"><label for="mainpage">Mainpage</label>
            <input onclick="$(this).removeAttr('checked'); location.href = 'node_info';" type="radio" name="pages" id="ginfo"><label for="ginfo">Graph Information</label>
            <input onclick="$(this).removeAttr('checked'); location.href = 'diagrams';" type="radio" name="pages" id="diagrams"><label for="diagrams">Diagrams</label>
        </div>
        <div class="dropdown" style="display: inline-block; float: right; margin-right: 5%;">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{ session.user }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation" class="dropdown-header">Export files</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="download_graph">Download Graph File
                <span class="ui-icon ui-icon-circle-arrow-s" style="float: left; margin-right: .3em;"></span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="download_graph_image">Download Image
                <span class="ui-icon ui-icon-circle-arrow-s" style="float: left; margin-right: .3em;"></span></a></li>
            <li role="presentation" class="dropdown-header">User</li>
            <li role="presentation"><a id="save-button" role="menuitem" tabindex="-1">Save Graph
                <span class="ui-icon ui-icon-disk" style="float: left; margin-right: .3em;"></span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="location.href = 'import_file?' + Math.random();">Import a new Graph
                <span class="ui-icon ui-icon-circle-plus" style="float: left; margin-right: .3em;"></span></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="logout">Logout
                <span class="ui-icon ui-icon-power" style="float: left; margin-right: .3em;"></span></a></li>
            </ul>
        </div>
	</div>
</div>
<div id ="graphInfo">
    <ul>
        <li><a href="#nodeInfo">Node Information</a></li>
        <li><a href="#edgeInfo">Edge Information</a></li>
    </ul>
<div id="edgeInfo">
    <form action="{{ url_for('download_edge_info') }}">
        <button class="download" type="submit" style="font-size: 10px;">
            Download information in CSV format
            <span class="ui-icon ui-icon-circle-arrow-s" style="float: right; margin-right: .3em;"></span>
        </button>
    </form>
	<div style="max-height: 500px; overflow: auto;">
   <table class="table table-striped" id = "edges" cellspacing = "1" border = "1">
	<caption>Edge Information</caption>
	<thead>
		<tr>
			<th>Source Node <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
			<th>Target Node <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
			<th>Weight <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
			<th>Betweeness Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
		</tr>
	</thead>
	<tbody>
		{% for u, v in graph.edges() %}
			<tr>
				<td>{{ u }}</td>
				<td>{{ v }}</td>
				<td>{{ graph.edge[u][v]['weight'] }}</td>
				<td>{{ graph.edge[u][v]['betweenness'] }}</td>
			</tr>
		{% endfor %}
	</tbody>
   </table>
    </div>
</div>
<div id="nodeInfo">
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <form action="{{ url_for('download_node_info') }}">
				<button class="download" type="submit" style="font-size: 10px;">
                    Download information in CSV format
                    <span class="ui-icon ui-icon-circle-arrow-s" style="float: right; margin-right: .3em;"></span>
                </button>
   			</form>&nbsp;
			<p style="display: inline-block;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em; font-size: 10px;"></span>
			<strong>Note: </strong> Each centrality value is normalized.</p>
		</div>
	</div>
	<div style="max-height: 400px; overflow: auto;">
   {% if session.undirected %}
   <table class="table table-striped" id = "nodes" cellspacing="1" border = "1">
	<caption>Node Information</caption>
	<thead>
	<tr>
	  <th>Node <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Degree Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Closeness Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Betweeness Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Eigenvector Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Clustering Coefficient <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Connected Component <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  {% if is_weighted %}
	  	<th>Weighted Degree <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  {% endif %}
	</tr>
	</thead>
	<tbody>
	{% for node in graph.nodes() %}
		<tr>
		  <td>{{ node }}</td>
		  <td>{{ graph.node[node]['degree'] }}</td>
		  <td>{{ graph.node[node]['closeness'] }}</td>
		  <td>{{ graph.node[node]['betweenness'] }}</td>
		  <td>{{ graph.node[node]['eigenvector'] }}</td>
		  <td>{{ graph.node[node]['clustering'] }}</td>
		  <td>{{ graph.node[node]['full'] }}</td>
		  {% if is_weighted %}
		  	<td>{{ graph.node[node]['weighted_degree'] }}</td>
		  {% endif %}
		</tr>
	{% else %}
		<h2>Nothing</h2>
	{% endfor %}
	</tbody>
	</table>
	{% else %}
	<table class="table table-striped" id = "nodes" cellspacing="1" border = "1">
	<caption>Node Information</caption>
	<thead>
	<tr>
	  <th>Node <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>In-Degree Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Out-Degree Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Closeness Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Betweeness Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Eigenvector Centrality <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>PageRank <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Weak Components <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  <th>Strong Components <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  {% if is_weighted %}
	  	<th>Weighted In-Degree <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	 	<th>Weighted Out-Degree <span class="ui-icon ui-icon-triangle-2-n-s" style="float: right; margin-right: .3em;"></span></th>
	  {% endif %}
	</tr>
	</thead>
	<tbody>
	{% for node in graph.nodes() %}
		<tr>
		  <td>{{ node }}</td>
		  <td>{{ graph.node[node]['in_degree'] }}</td>
		  <td>{{ graph.node[node]['out_degree'] }}</td>
		  <td>{{ graph.node[node]['closeness'] }}</td>
		  <td>{{ graph.node[node]['betweenness'] }}</td>
		  <td>{{ graph.node[node]['eigenvector'] }}</td>
		  <td>{{ graph.node[node]['pagerank'] }}</td>
		  <td>{{ graph.node[node]['weak'] }}</td>
		  <td>{{ graph.node[node]['strong'] }}</td>
		  {% if is_weighted %}
		  	<td>{{ graph.node[node]['weighted_in_degree'] }}</td>
		  	<td>{{ graph.node[node]['weighted_out_degree'] }}</td>
		  {% endif %}
		</tr>
	{% else %}
		<h2>Nothing</h2>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}
    </div>
  </div>
</div>
</body>
</html>