<!DOCTYPE HTML>
<HTML>
<HEAD>
  <TITLE>Application for basic network analysis</TITLE>
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap6.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <script type=text/javascript>
	    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/queries.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/functios.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/editHTMLElements.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graphImageHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/graphInfoHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jQuery-UI-Initialization.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mathematicalModels.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pagestyle.css') }}">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static', filename='css/colpick.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/colpick.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<script>
    var project;
	$(function() {
        $('#level').hide();
	    $('#colorbase').hide();
	    $('#sizeRanking').hide();
		$('#nameProject').hide();
        $("#graph-generation").submit(function(e) {
            var probability = $("#probability");
            var degree = $("#degree-selector");
            var edges = $("#edges-selector");
            var message;
            if (probability.length > 0) {
                if (probability.spinner("value") > 1.0
                        || probability.spinner("value") < 0.0
                        || probability.spinner("value") == undefined
                        || (!isNaN(parseFloat(probability.spinner("value"))))) {
                    message = "Probability has to be in range of 0 and 1.";
                    warningMessage(message, "probability");
                    e.preventDefault();
                }
            }
            if (degree.length > 0) {
                var numberOfNodes = $("#number-nodes").slider().slider("value");
                if (degree.spinner("value") < 0
                    || degree.spinner("value") >= numberOfNodes
                    || degree.spinner("value") == undefined
                    || (!isNaN(parseFloat(degree.spinner("value"))))) {
                    message = "Probability has to be in range of 0 and "
                        + numberOfNodes + " .";
                    warningMessage(message, "degree");
                    e.preventDefault();
                }
            }
            if (edges.length > 0) {
                var edgeValue = edges.spinner("value");
                if (!isNaN(parseInt(edgeValue))) {
                    message = "This field must have an integer value";
                    warningMessage(message, "edges-selector");
                    e.preventDefault();
                }
            }
            $(this).attr("action", "/random_graph");
        });
    })
</script>
<script>
    $(function() {
       	$('.color-box').colpick({
			colorScheme:'dark',
			layout:'rgbhex',
			color:'ff8800',
			onSubmit:function(hsb,hex,rgb,el) {
				$(el).css('background-color', '#'+hex);
				$(el).colpickHide();
				updateImage(el.id.split("-")[1], "#" + hex);
			}
		});
    });
</script>
</HEAD>
{%if not session.showimage %}
<Body>
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;height: 38px;">
		<label for="pages"><span class="ui-icon ui-icon-home" style="float: right; margin-right: .3em;"></span>
		Welcome to netXanal</label>&nbsp;&nbsp;
        <div class="dropdown" style="display: inline-block; float: right; margin-right: 5%;">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{ session.user }}
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                      <span class="ui-icon ui-icon-power" style="float: left; margin-right: .3em;"></span>Logout</a></li>
                </ul>
        </div>
	</div>
</div><br>
 <div id="graph-creation">
        <ul>
            <li><a href="#upload">Upload a graph file</a></li>
            <li><a href="#generate">Generate graph</a></li>
        </ul>
        <div id="upload">
            <form enctype="multipart/form-data" method = "POST" action = "{{ url_for('draw_graph') }}">
                <label for="file">Upload file: </label>
                <input id="file" type="file" name="file">
                {% if wrong_file %}
                    <div class="ui-widget" style="display: inline-block; padding: 0;">
                        <div class="ui-corner-all ui-state-error" style="padding: 0px;;">
                            <p style="padding: 0;">
                                <span class="ui-icon ui-icon-alert"></span>
                                <b>Warning! </b>File you just uploaded is not supported.
                            </p>
                        </div>
                    </div>
                {% endif %}
                <br>
                <label for="graph-type">Select graph type: </label>
                <div id="graph-type" style="display: inline-block;">
                    <input id="undir" type="radio" name="graphtype" value="Undirected" checked><label for="undir">Undirected</label>
                    <input id="dir" type="radio" name="graphtype" value="Directed"><label for="dir">Directed</label>
                </div><br><br>
                <button type="submit">Upload graph</button>
            </form>
        </div>
        <div id="generate">
            <form id="graph-generation" method="post">
                <label for="model">Select a model: </label>
                <select id="model" name="model">
                    <option value = "erdos" selected>Erdos Renyi Graph</option>
                    <option value = "watts_strogatz">Watts-Strogatz Graph</option>
                    <option value = "binomial">Binomial Graph</option>
                    <option value = "regular">Random Regular Graph</option>
                    <option value = "random">Random Graph</option>
                    <option value = "barabasi">Barabasi Albert Graph</option>
                </select><br><br>
                <div class="ui-widget">
                    <div class="ui-corner-all ui-state-highlight"  style="padding: 0.7em;">
                        <p>
                            <span class="ui-icon ui-icon-info"></span>
                            <span id="modelDescription">
                                <b>Model Description: </b>Chooses each of the possible edges with a given probability.
                            </span>
                        </p>
                    </div>
                </div><br><br>
                <label for="g-type">Graph type: </label>
                <label for="number-nodes">Number of nodes: <span id="nodes">50</span></label>&nbsp;&nbsp;
                <div id="number-nodes" style="display: inline-block; width: 20%;"></div><br>
                <input type="hidden" name="nodes" value="50">
                <div id="parameters">
                    <label for="probability">Probability of Edge Creation: </label>
                    <input id="probability" name="probability"><br><br>
                    <label for="g-type">Select graph type: </label>
                    <div id="g-type" style="display: inline-block;">
                        <input id="undirected" type="radio" name="graphtype" value="Undirected" checked><label for="undirected">Undirected</label>
                        <input id="directed" type="radio" name="graphtype" value="Directed"><label for="directed">Directed</label>
                    </div><br><br>
                </div>
	            <button type="submit">Generate Graph</button>
            </form>
        </div>
    </div>
    <div id="graphs" class="ui-widget ui-corner-all ui-state-default">
        <div class="ui-corner-all ui-state-highlight">
            <h3 style="text-align: center; font-family: 'Lucida Grande';">List of my Graphs</h3>
        </div><br>
        <form method="post" action="{{ url_for('open_project') }}">
            {% if projects.count() != 0 %}
                {% set counter = 1 %}
                <div id="projects" class="ui-state-default">
                    {% for project in projects %}
                        <input class="project{{ counter }}" value="{{ project.filename }}" id="project{{ counter }}" type="radio" name="project">
                        <label class="project{{ counter }}" for="project{{ counter }}">{{ project.filename }}</label>
                        <button class="project{{ counter }}" type="button" onclick="window.project = '{{ project.filename }}'; deletion.dialog('open');">
                            <span class="ui-icon ui-icon-trash"></span>
                        </button><br class="project{{ counter }}"><br class="project{{ counter }}">
                        {% set counter = counter + 1 %}
                    {% endfor %}
                </div><br><br>
                <button type="submit">Import selected Graph</button>
                {% else %}
                    <div class="ui-widget">
                        <div class="ui-corner-all ui-state-error" style="padding: 0.7em;">
                            <p>
                                <span class="ui-icon ui-icon-alert"></span>
                                <b>Warning! </b>There is not any graph saved in your account yet!
                            </p>
                        </div>
                    </div>
                {% endif %}
        </form>
    </div>
    {% include 'dialogs.html' %}
    <div id = "signature" class="ui-widget">
        <div id = "footer" class="ui-corner-all ui-state-error">
            <p id="leftfooter"><i>Developed by Thodoris Sotiropoulos</i></p>
            <p id="rightfooter">&copy; 2014-2015 Athens University of Economics and Business - Department
            of Management Science and Technology</p>
        </div>
    </div>
</body>
  {% else %}
<body>
    {% include 'header.html' %}
    <div id="graphImage" style="height: 700px; width: 60%;">
        <div id="toolbar" class="ui-state-error ui-corner-all">
            <label for="update-layout">Layout: </label>
            <select id = "update-layout">
              <option value = "random" selected>Random</option>
              <option value = "circular">Circular</option>
              <option value = "spring">Spring</option>
              <option value = "spectral">Spectral</option>
              <option value = "shell">Shell</option>
            </select>&nbsp;
            <label for="update-node_size">Node size: </label>
            <div id="update-node_size" style="width: 10%; display: inline-block;"></div>
            <label for="update-edge_width">Edge width: </label>
            <div id="update-edge_width" style="width: 10%; display: inline-block;"></div>
            <label for="update-font_size">Font size: </label>
            <div id="update-font_size" style="width: 10%; display: inline-block;"></div>
            <label for="update-node_shape">Node shape: </label>
            <div id="update-node_shape" style="display: inline-block">
                <input checked onclick="updateImage('node_shape')" value="o" type="radio" name="shape" id="circle"><label for="circle"><span class="ui-icon ui-icon-bullet"></span></label>
                <input onclick="updateImage('node_shape')" value="s" type="radio" name="shape" id="square"><label for="square"><span class="ui-icon ui-icon-squaresmall-plus"></span></label>
                <input onclick="updateImage('node_shape')" value="h" type="radio" name="shape" id="hexagon"><label for="hexagon"><span class="ui-icon ui-icon-star"></span></label>
                <input onclick="updateImage('node_shape')" value="^" type="radio" name="shape" id="arrow-up"><label for="arrow-up"><span class="ui-icon ui-icon-triangle-1-n"></span></label>
                <input onclick="updateImage('node_shape')" value="v" type="radio" name="shape" id="arrow-bottom"><label for="arrow-bottom"><span class="ui-icon ui-icon-triangle-1-s"></span></label>
                <input onclick="updateImage('node_shape')" value=">" type="radio" name="shape" id="arrow-right"><label for="arrow-right"><span class="ui-icon ui-icon-triangle-1-e"></span></label>
                <input onclick="updateImage('node_shape')" value="<" type="radio" name="shape" id="arrow-left"><label for="arrow-left"><span class="ui-icon ui-icon-triangle-1-w"></span></label>
            </div>
            <label for="update-edge_style">Edge style: </label>
            <select id="update-edge_style">
                <option value = "solid" selected>solid</option>
                <option value = "dashed">dashed</option>
                <option value = "dotted">dotted</option>
                <option value = "dashdot">dashdot</option>
            </select>
            {% if is_weighted %}
            <label for="update-edge_labels">Edge labels: </label>
                <div id="update-edge_labels" style="display: inline-block;">
                    <input checked onclick="updateImage('edge_labels')" value="True" type="radio" name="edge_label" id="edge_ON"><label for="edge_ON">ON</label>
                    <input onclick="updateImage('edge_labels')" value="False" type="radio" name="edge_label" id="edge_OFF"><label for="edge_OFF">OFF</label>
                </div>
            {% else %}
                <br>
            {% endif %}
            <label for="colors">Change color: </label>
            <div id="colors" style="display: inline-block;">
                <div id="update-node_color" class="color-box">N</div>
                <div id="update-edge_color" class="color-box">E</div>
                <div id="update-font_color" class="color-box">F</div>
            </div>
        </div>
        <img src="{{ url }}" style="width: 100%;">
    </div>
    <div id="operations">
    	<h3>General Information</h3>
        <div id="generalInfo">
            <div class="ui-widget">
                <div class="ui-state-highlight">
                    <p>
                        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em; font-size: 10px;"></span>
                        {% if growing %}
                            <b style="font-size: 20px;">Dynamic Graph</b><br>
                        {% else %}
                            <b style="font-size: 20px;">Static Graph</b><br>
                        {% endif %}
                        <b>Graph type: </b>
                        <span id = "graph_type">{{name}}</span><br>
   						<b>Is weighted: </b>
   						<span id = "is_weighted">{{ is_weighted }}</span><br>
   						<b>Total nodes: </b>{{number_of_nodes}}<br>
   						<b>Total edges: </b>{{edges}}<br>
   						<b>Directed Acyclic Graph: </b>{{ is_DAG }}<br>
   						<b>Fully connected: </b>{{ is_connected }}<br>
   						<b>Graph density: </b>{{ density }}<br>
   						<b>Negative weights: </b>{{ negative_weights }}<br>
   						<b>Negative cycle: </b>{{negative_cycle}}<br>
   						<b>Diameter: </b>{{ diameter }}<br>
                        <b>Average shortest path length: </b>{{ average_path[0] }}<br>
                        {% if is_weighted and not negative_weights %}
                            <b>Average shortest path length(weight): </b>{{ average_path[1] }}<br><br>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% if growing %}
        <h3>Add/Delete nodes</h3>
        <div id="updateGraph">
            <label for="addition-deletion">Update Graph: </label>
            <div id="addition-deletion" style="display: inline-block">
                <input name="update" type="radio" id="addition" onclick="location.href = 'add_node';">
                <label for="addition">Add a new node<span style="float: right; margin-right: .3em;" class="ui-icon ui-icon-circle-plus"></span></label>
                <input name="update" type="radio" id="deletion" onclick="location.href = 'delete_node?' + Math.random();">
                <label for="deletion">Delete a node<span style="float: right; margin-right: .3em;" class="ui-icon ui-icon-circle-minus"></span></label>
            </div><br><br>
            {% if new_edges %}
                <div class="ui-widget">
                    <div class="ui-corner-all ui-state-highlight" style="padding: 0.7em;">
                        <p>
                            <span class="ui-icon ui-icon-info"></span>
                            <b>New edges: </b>{{ new_edges }}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <h3>Find paths</h3>
    <div id="path">
        {% if negative_cycle or not is_DAG or not is_weighted %}
                <div class="ui-widget" style="font-size: 11px;">
                    <div class="ui-corner-all ui-state-error">
                        <p>
                            <span class="ui-icon ui-icon-alert"></span>
                            <span style="text-align: center;"><b>Warning!</b></span><br>
                            {% if negative_cycle %}
                                <b>Shortest path</b> detection is not supported on the current graph
                                because it contains Negative Cycles.<br>
                            {% endif %}
                            {% if not is_DAG %}
                                <b>Critical path</b> detection is not supported on the current graph
                                because it is not a Directed Acyclic Graph.<br>
                            {% endif %}
                            {% if not is_weighted %}
                                <b>Strongest path</b> detection is not supported on the current graph
                                because it is not a Weighted Graph.<br>
                            {% endif %}
                        </p>
                    </div>
                </div><br><br>
        {% endif %}
        <label for="#source">Select source node: </label>
	    <select id = "source">
	        {% for node in nodes %}
                <option value = "{{ node }}">Node: {{ node }}</option>
            {% endfor %}
        </select><br>
        <label for="#target">Select target node: </label>
	    <select id = "target">
	        {% for node in nodes %}
                <option value = "{{ node }}">Node: {{ node }}</option>
            {% endfor %}
	    </select><br>
        <label for="path-type">Select type of path: </label>
        <div id="path-type" style="font-size: 11px; display: inline-block;">
            {% if not negative_cycle %}
            	<input checked id="shortest" type="radio" name="pathType" value="shortest"><label for="shortest">Shortest path</label>
            {% endif %}
        	{% if is_DAG %}
            	<input checked id="critical" type="radio" name="pathType" value="critical"><label for="critical">Critical path</label>
            {% endif %}
        	{% if is_weighted %}
            	<input checked id="strongest" type="radio" name="pathType" value="strongest"><label for="strongest">Strongest path</label>
            {% endif %}
        </div><br>
        {% if is_DAG or (not negative_cycle) %}
            <label for="calculationWay" style="font-size: 10px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>For critical and shortest paths detection: </strong>
            </label>
            <div id="calculationWay" style="display: inline-block; font-size: 10px;">
                <input checked type="radio" name="calculationWay" id="length" value="unweighted"><label for="length">Based on path length</label>
                <input type="radio" name="calculationWay" value="weighted" id="weight"><label for="weight">Based on edge weight</label>
            </div><br><br>
        {% endif %}
        <button id="findPath" onclick="findPaths()">Search Path</button>
        <div id="pathInfo" class="ui-widget">
        </div><br><br>
    </div>
    <h3>Find communities</h3>
    <div id="communities">
        <button id="findCommunities" onclick="findCommunities()">Find communities</button><br><br>
        <div class="ui-widget">
            <div id="communitiesInfo" class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
            </div>
        </div><br><br>
        <div class="ui-widget">
            <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                <p style="font-size: 10px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Note: </strong>Use of Girvan - Newman algorithm for community detection</p>
            </div>
        </div><br><br>
    </div>
    <h3>Find cliques</h3>
    <div id="cliques">
        <button id="findCliques" onclick="findCliques()">Find cliques</button>
        <div id="cliquesInfo" class="ui-widget">
        </div><br><br>
    </div>
    <h3>Rank nodes</h3>
    <div id="rank-nodes">
        <label for="rankings">Select ranking way: </label>
        <div id="rankings" style="font-size: 11px; display: inline-block;">
            <input onclick="changeRankingWay('color')" checked id="color" type="radio" name="ranking-way" value="colorRanking"><label for="color">Color ranking</label>
            <input onclick="changeRankingWay('size')" id="size" type="radio" name="ranking-way" value="sizeRanking"><label for="size">Size ranking</label>
            <input onclick="changeRankingWay('both')" id="both" type="radio" name="ranking-way" value="bothRanking"><label for="both">Color and Size ranking</label>
        </div><br><br>
        {% for i in range(0, 2) %}
	   	    {% if i == 0 %}
	   		<div id = "colorRanking">
	   			List of colors diversities
	   		    <select id = "color-map" name = "colors">
                    <option id="cool" value = "cool">Cool</option>
                    <option id="hot" value="hot">Hot</option>
                    <option id="winter" value="winter">Winter</option>
                    <option id="spring"  value = "spring">Spring</option>
                    <option id="summer" value="summer">Summer</option>
                    <option id="autumn" value="autumn">Autumn</option>
                    <option id="red-blue" value = "RdBu">Red-Blue</option>
                    <option id="red-grey"  value = "RdGy">Red-Grey</option>
                    <option id="pink-green" value = "PiYG">Pink-Green</option>
                    <option id="green-blue" value = "GnBu">Green-Blue</option>
                    <option id="yellow-green" value = "YlGn">Yellow-Green</option>
                    <option id="greens" value = "Greens">Greens</option>
                    <option id="blues" value = "Blues">Blues</option>
                    <option id="greys" value = "Greys">Greys</option>
                    <option id="reds" value = "Reds">Reds</option>
                </select><br><br>
				Color Nodes based on:
	   			<select id = "colorNodes">
	   	    {% else %}
	   		    <div id = "sizeRanking">
				    Rank Node size based on:
	   			    <select id = "sizeNodes">
	   	    {% endif %}
                <option value = "betweenness">Betweeness Centrality</option>
                <option value = "closeness">Closeness Centrality</option>
                <option value = "eigenvector">Eigenvector Centrality</option>
            {% if name == 'Directed' %}
                <option value = "in_degree">In-Degree Centrality</option>
                <option value = "out_degree">Out-Degree Centrality</option>
                <option value = "pagerank">PageRank</option>
                {% if is_weighted %}
                    <option value = "weighted_in_degree">Weighted In-Degree</option>
                    <option value = "weighted_out_degree">Weighted Out-Degree</option>
                {% endif %}
            {% else %}
                <option value = "degree">Degree Centrality</option>
                <option value = "clustering">Clustering Coefficient</option>
                {% if is_weighted %}
                    <option value = "weighted_degree">Weighted Degree</option>
                {% endif %}
            {% endif %}
            </select>
	        </div>
		{% endfor %}
        <button onclick="rankNodes()">Rank nodes</button>
    </div><br><br>
    </div>
    {% include "dialogs.html" %}
    <div style="margin-top: 450px;" id = "signature" class="ui-widget">
        <div id = "footer" class="ui-corner-all ui-state-error">
            <p id="leftfooter"><i>Developed by Thodoris Sotiropoulos</i></p>
            <p id="rightfooter">&copy; 2014-2015 Athens University of Economics and Business - Department
            of Management Science and Technology</p>
        </div>
    </div>
   </body>
   {% endif %}
</HTML>